@charset "UTF-8";
html{
    scroll-behavior: smooth;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 2.7%;
    padding-right: 7.6%;
    position: absolute;
    width: 100%;
}

.header__nav ul {
    display: flex;
    gap: 70px;
}

.header__nav a {
    color: #fff;
    font-weight: bold;
    font-family: "游ゴシック体", YuGothic, "游ゴシック Medium",
      "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
}
.logo {
    width: 226px;    
}

.hamburger,
.header__nav-sp {
    display: none;
}

main {
    background-color: #e8d9bf;
}

.title__container {
    max-width: 1000px;
    padding: 0 10px;
    margin: 0 auto;
    text-align: center;
}


.subtitle {
    font-size: 38px;
    padding-top: 101px;
    padding-bottom: 65px;
}

.maintitle {
    line-height: 1.17em;
    letter-spacing: 0.1em;
    font-size: 82px;
    padding-bottom: 49px;
}

.text {
    line-height: 1.65em;
    letter-spacing: 0.1em;
    font-size: 23px;
    padding-bottom: 101px;
}

#about-us {
    display: flex;
    max-width: 1000px;
    padding: 0 10px;
    margin: 0 auto 108px;
    align-items: center;
}

.about-image {
    width: 50%;
}

.about-us__rightside {
    padding-left: 74px;
    width: 50%;
}

.about-us__images {
    border-bottom-right-radius: 20%;
}

 .about-us__logo {
    width: auto;
    height: 77px;
    padding-bottom: 60px;
 }

 .about-us__title {
    line-height: 1.38em;
    letter-spacing: 0em;
    font-size: 44px;
    padding-bottom: 49px;
 }

 .about-us__text p {
    line-height: 1.62em;
    letter-spacing: 0em;
    font-size: 16px;
 }

 #menu {
    max-width: 1000px;
    padding: 0 10px;
    margin: 0 auto;
}

 .contanier {
    display: block;
    margin: 0 auto;
    width: auto;
    height: 77px;
    padding-bottom: 41px;
    
}

.menu__contanier {
    display: flex;
    justify-content: space-between;
    gap: 46px;
}

.menu__visual {
    border-top-right-radius: 20%;
}

h3 {
    line-height: 0.57em;
    letter-spacing: 0em;
    font-size: 38px;
    color: #d30202;
    padding-left: 10px;
    margin-top: -10px;
    margin-bottom: 17px;
}

#gallery {
    margin: 0 auto;
    padding-top: 99px;
}

.gallery__visual {
    display: flex;
    }

.images {
    width: 20%;
}  

#event {
    max-width: 1000px;
    margin: 0 auto;
    padding-top: 67px;
}

.box {
    max-width: 1000px;
    min-height: 200px;
    background-color: #fff;
    border: 3.7px solid #4f260b ;
    margin-left: 10px;
    margin-right: 10px;
}

.event__contaniers {
    max-width: 680px;
    margin: 30px auto 0;
}

.event__contanier {
    display: flex;
    gap: 51px;
}

.day {
    line-height: 1.95em;
    font-size: 23px;
    text-align: left;
}

.event__text {
    line-height: 1.95em;
    font-size: 23px;
    text-align: left;
    text-decoration-line: underline;
    white-space: nowrap;
}

#access {
    margin: 0 auto;
    padding-top: 79px;
}

iframe {
    width: 100%;
    filter: grayscale(100%) invert(92%) contrast(83%);
}

.footer__logo {
    width: auto;
    height: 50px;
}

.footer__contanier {
    display: flex;
    gap: 69px;
    padding-top: 74px;
    padding-left: 10px;
    padding-right: 10px;
    max-width: 1000px;
    margin: 0 auto;    
}

.footer__text {
    line-height: 1.95em;
    font-size: 20px;
}

.texts {
    padding-bottom: 20px;
}

.copy {
    margin: 0 auto;
    line-height: 2.18em;
    font-size: 16px;
    padding-top: 79px;
    padding-bottom: 79px;
    text-align: center;
}

.totop {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 125px;
}

@media screen and (max-width: 1100px){
    .hamburger {
        display: block;
        width: 30px;
        height: 30px;
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
        z-index: 9999;
    }

    .hamburger span {
        position: absolute;
        width: 100%;
        height: 3px;
        background-color: #fff;
        top: 14px;
        right: 0;
        transition: 0.3s;
    }

    .hamburger span::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 3px;
        background-color: #fff;
        top: -14px;
        right: 0;
        transition: 0.3s;
    }

    .hamburger span::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 3px;
        background-color: #fff;
        bottom: -14px;
        right: 0;
        transition: 0.3s;
    }

    .open span {
        background-color: transparent;
    }

    .open span::before {
        transform: rotate(45deg);
        top: 0;
    }

    .open span::after {
        transform: rotate(-45deg);
        bottom: 0;
    }

    .header__nav {
        display: none;
    }

    .header__nav-sp {
        position: absolute;
        height: 100vh;
        width: 100%;
        background-color: #000000b1;
        top: 0;
        left: 0;
    }

    .header__nav-sp a {
        color: #fff;
        font-family: "游ゴシック体", YuGothic, "游ゴシック Medium",
      "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
    }

    .header__nav-sp ul {
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    .maintitle {
        font-size: 70px;
    }

    .about-us__title {
        font-size: 30px;
    }
}

@media screen and (max-width: 768px){
    .subtitle {
        font-size: 17px;
        padding-top: 39px;
        padding-bottom: 23px;
    }

    .maintitle {
        line-height: 1.16em;
        letter-spacing: 0.2em;
        font-size: 38px;
        padding-bottom: 12px;
    }

    .text {
        line-height: 1.88em;
        letter-spacing: 0.1em;
        font-size: 16px;
        padding-bottom: 54px;
    }

    #about-us {
        flex-direction: column;
        padding: 0;
    } 

    .about-us__logo {
        display: block;
        width: auto;
        height: 45px;
        padding-bottom: 10px;
        margin: 0 auto;
 }

    .about-image {
        width: 100%;
        padding-bottom: 35px;
    }

    .about-us__rightside {
        padding-left: none;
        width: 100%;
        padding: 0 20px;
    }

    .about-us__title {
    line-height: 1.25em;
    letter-spacing: 0em;
    font-size: 36x;
    padding-bottom: 19px;
 }

    .about-us__text p {
        line-height: 1.75em;
        letter-spacing: 0em;
        font-size: 16px;
        padding-bottom: 48px;
    }

    .about-us__images {
        border-bottom-right-radius: 0%;
    }

    #menu {
        padding-left: 38px;
        padding-right: 38px;
    }
    .contanier {
        width: auto;
        height: 45px;
        padding-bottom: 23px;
    }

    .menu__contanier {
        flex-direction: column;
    }

    .menu__contanier p {
        line-height: 1.59em;
        letter-spacing: 0em;
        font-size: 17px;
        padding-bottom: 57px;
    }

    .gallery__visual {
        display: block;
    }

    .images {
        display: none;
    }
    
    #image1 {
        display: block;
        width: 100%;
    }

    .event__contaniers {
        margin: 30px auto;
    }

    .event__contanier {
        flex-direction: column;
        gap: 0px;    
    }

    .footer__contanier {
        flex-direction: column;
    }
}

 @media screen and (max-width: 375px){
    .event__contanier p {
        line-height: 3.81em;
        letter-spacing: 0em;
        font-size: 16px;
 }